/* login.css */

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #568AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}



.check {
    text-align: center;
    flex-direction: row;
    margin-bottom: 20px;
}


label {
    font-size: 1rem;
    color: #202224;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h2 {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 10px;
}

p {
    color: #888;
    margin-bottom: 30px;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
}

.login-input:focus {
    border-color: #3399ff;
    outline: none;
}

.checkbox-row {
    display: flex;
    
    align-items: center;
    margin-bottom: 20px;
    
}

.forgot-password {
    font-size: 0.9rem;
    color: #a19c9c;
    text-decoration: none;
    margin-left: 200px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: #3399ff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-btn:hover {
    background-color: #2a7ccc;
}

@media (max-width: 600px) {
    .login-box {
        width: 90%;
    }
}