#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;

}

body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.nav h1 {
  margin-top: 0;
  color: #ffff;
  background-color: #ffff;
}

.w3-bar-block {
  margin: 2%;
}

.blacklogo {
  color: #2A2F3C;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.bluelogo {
  color: #4880FF;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;

}

.container {
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}

.content {
  flex-grow: 1;
  background-color: #F5F6FA;
}

.w3-padding-64 {
  display: flex;
  flex-direction: row;
  align-items: center;

}

/* Sidebar container */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 242px;
  height: 100%;
  padding: 15px;
  background-color: #ffff;
  /* box-shadow: 3px 0px 5px rgba(168, 167, 167, 0.374); */
}


/* Profile section */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 10px;
}

.profile-name {
  font-size: 1em;
  font-weight: bold;
}

.profile-role {
  font-size: 0.8em;
  color: gray;
}

/* Main buttons */
.button-main {
  background-color: #2979ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-secondary {
  background-color: #e0e0e0;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  background-color: #e0e0e0;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

/* Active button styling */
.button.active {
  background-color: #2979ff;
  color: white;
}

/* Bottom links */
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings,
.logout {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.9em;
  color: gray;
}

.settings {
  margin-top: 325px;
  padding-left: 35px;
}

.logout {
  padding-left: 35px;
}